@import url('https://fonts.googleapis.com/css2?family=Martel&family=Playfair+Display+SC&display=swap');

:root{
    --heading-font: "Playfair Display SC", Arial, sans-serif;
    --paragraph-font: "Martel", Arial, Helvetica, sans-serif;
}
body {
    background-color: #fcfbfb;
    font-family: "Martel", Arial, Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h2 {
    font-family: "Playfair Display SC", Arial, sans-serif;
    margin: 0;
    
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    text-align: center;
    color: #FFFF;
    text-decoration: none;
    font-family: "Martel", Arial, Helvetica, sans-serif;
    padding: 35px;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

#background {
    height: 725px;
    background-color: #0081a7;

}

body {
    background-color: #FFFF; 
}

header {
    background-color:#0081a7;
}


nav a:hover {
    background-color: #00afb9;
    color: #FFFF;
}

.book, .join {
    background-color: #00afb9;
    color: #FFFF;
    text-decoration: none;
    font-family: "Martel", Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color: #00afb9;
    color: #FFFF;
}

.msg {
    background-color: #1f2f16;
    line-height: 1.5em;
    padding: 35px;

}

.msg h2{
    color: #FFFF;
    font-family: "Playfair Display SC";
}

.msg p {
    color: #FFFF;
    font-family: "Martel", Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    padding-bottom: 15px;

}

footer {
    background-color: #1f2f16;
    color: #FFFF;
    padding: 25px 50px;
    margin-top: 200px;

}

footer a {
    color: #FFFF;
    text-decoration: none;
}

.icon, .logo {
    width: 80px;

}

#hero-img {
    width: 100%;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover{
    text-decoration: underline;
}

.home-title {
    color: #0081a7;
    font-family: "Playfair Display SC", Arial, sans-serif;;
    font-size: 2em;
    margin-top: 10px;
}

h4 {
    color: #0081a7;
    font-family: "Playfair Display SC", Arial, sans-serif;;
}
.icon {
    padding-top: 10px;
}
footer .social img {
    padding-top: 15px;
}
.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}
.card-img {
    border: 10px solid #0081a7;
}
main section img {
    box-sizing: border-box;
}
#logo_link {
    padding-top: 5px;
}
